body {
}



/*全局按钮颜色*/
/*全局6字按钮颜色*/
.button_green_b{width:84px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#74b648; color:white;margin-right:4px;}
.button_red_b{width:84px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#ed6d48; color:white;margin-right:4px;}
.button_yellow_b{width:84px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#ffb401; color:white;margin-right:4px;}
.button_blue_b{width:84px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#0caed4; color:white; margin-right:4px;}
.button_gray_b{width:84px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#bababa; color:white; margin-right:4px;}
/*全局4字按钮颜色*/
.button_green{width:64px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#74b648; color:white;margin-right:4px;}
.button_red{width:64px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#ed6d48; color:white;margin-right:4px;}
.button_yellow{width:64px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#ffb401; color:white;margin-right:4px;}
.button_blue{width:64px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#0caed4; color:white; margin-right:4px;}
.button_gray{width:64px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#bababa; color:white; margin-right:4px;}
/*全局2字按钮颜色*/
.button_green_s{width:44px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#0caed4; color:white;margin-right:4px;}
.button_red_s{width:44px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#ed6d48; color:white;margin-right:4px;}
.button_yellow_s{width:44px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#ffb401; color:white;margin-right:4px;}
.button_blue_s{width:44px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#0caed4; color:white; margin-right:4px;}
.button_gray_s{width:44px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#bababa; color:white; margin-right:4px;}





/*全局排序按钮*/
.button_sort_green{width:84px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#74b648; color:white;margin-right:4px;}
.button_sort_red{width:84px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#ed6d48; color:white;margin-right:4px;}
.button_sort_yellow{width:84px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#ffb401; color:white;margin-right:4px;}
.button_sort_blue{width:84px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#0caed4; color:white; margin-right:4px;}
.button_sort_gray{width:84px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#bababa; color:white; margin-right:4px;}
/*全局排序大按钮*/
.button_sort_green_b{width:104px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#74b648; color:white;margin-right:4px;}
.button_sort_red_b{width:104px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#ed6d48; color:white;margin-right:4px;}
.button_sort_yellow_b{width:104px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#ffb401; color:white;margin-right:4px;}
.button_sort_blue_b{width:104px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#0caed4; color:white; margin-right:4px;}
.button_sort_gray_b{width:104px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#bababa; color:white; margin-right:4px;}




/******************************** 添加 ***************************************/
 .button_add{width:64px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#74b648; color:white;margin-right:4px;}
 .button_add_b{width:84px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#74b648; color:white;margin-right:4px;}.
 .button_add_gray{width:64px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#bababa; color:white;margin-right:4px;}
 .button_add_b_gray{width:84px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#bababa; color:white;margin-right:4px;}
 
 
/*信息保存*/
.button_infosave_gray{width:64px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#808080; color:white;margin-right:4px;}
.button_infosave{width:64px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#ed6d48; color:white;margin-right:4px;}
 
/*信息删除*/
.button_delete{width:64px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#ed6d48; color:white; margin-right:4px;}
.button_delete_gray{width:64px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#bababa; color:white;margin-right:4px;}

.button_batchdelete{width:64px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#ed6d48; color:white; margin-right:4px;}
.button_batchdelete_gray{width:64px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#bababa; color:white;margin-right:4px;}



/* 查询按钮 */
.button_search{width:64px; height:30px; line-height:30px; text-align:center; border:none; cursor:pointer;background-color:#ed6d48; color:white;  margin-right:4px;}
/* 查询 */
 .button_showsearch{width:64px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#ed6d48; color:white;margin-right:4px;}
/* 导出 */
 .button_exportinfo{width:64px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#ffb401; color:white;margin-right:4px;}
/* 下载 */
 .button_down{width:64px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#0caed4; color:white;margin-right:4px;}
/* 导入*/
 .button_inportInfo{width:64px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#74b648; color:white;margin-right:4px;}
/* 错误 */
 .button_downerror{width:64px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#ed6d48; color:white;margin-right:4px;}
/* 预览 */
 .button_preview{width:64px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#ffb401; color:white;margin-right:4px;}
/* 删除 */
 .button_deletes{width:64px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#0caed4; color:white;margin-right:4px;}
/* 刷新 */
 .button_refresh{width:64px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#74b648; color:white;margin-right:4px;}
/* 上传 */
 .button_upload{width:64px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#ed6d48; color:white;margin-right:4px;}
/* 返回 */
 .button_goback{width:64px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#ffb401; color:white;margin-right:4px;}

 /* 分页跳转 */
 .button_goto{width:44px; height:20px; line-height:20px; text-align:center; border:none; cursor:pointer;background-color:#0caed4; color:white; margin-right:4px;}

  /* 确认 */
 .button_confirm{width:64px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#0caed4; color:white;margin-right:4px;}

 /* 取消 */
 .button_cancel{width:64px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#ffb401; color:white;margin-right:4px;}
/* 批量审核 */  
 .button_auditing_batch{width:64px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#0caed4; color:white;margin-right:4px;}
 .button_auditing{width:64px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#0caed4; color:white;margin-right:4px;}

/* 类别管理 */
 .button_type{width:64px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#0caed4; color:white;margin-right:4px;}

/* 操作帮助 */
 .button_help{width:64px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#0caed4; color:white;margin-right:4px;display:none; }



/* 重命名 */
 .button_renaming{width:60px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#74b648; color:white;margin-right:4px;}
/* 移动 */
 .button_move{width:60px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#74b648; color:white;margin-right:4px;}
/* 解压 */
 .button_unzip{width:60px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#74b648; color:white;margin-right:4px;}
/* 复制 */
 .button_copy{width:60px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#74b648; color:white;margin-right:4px;}
/* 选择文件 */
 .button_select{width:60px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#ffb401; color:white;margin-right:4px;}
/* 打开FTP */
 .button_OpenFTP{width:60px; height:25px; line-height:25px; text-align:center; border:none; cursor:pointer;background-color:#ffb401; color:white;margin-right:4px;}





 /* 查看 */ .List_View{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_View.png) no-repeat  center center; margin-right:10px; color:white;}/* 查看 */
            
 /* 修改 */ .List_Modify{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Modify.png) no-repeat  center center; margin-right:10px; color:white;}/* 修改 */
            
 /* 删除 */ .List_Delete{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Delete.png) no-repeat  center center; margin-right:10px; color:white;}/* 删除 */
            
 /* 预览 */ .List_Preview{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Preview.png) no-repeat  center center; margin-right:10px; color:white;}/* 预览 */
            
 /* 评卷 */ .List_Marking{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Marking.png) no-repeat  center center; margin-right:10px; color:white;}/* 评卷 */
            
 /* 阅卷 */ .List_Examiner{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Examiner.png) no-repeat  center center; margin-right:10px; color:white;}/* 阅卷 */
            
 /* 导入 */ .List_Import{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Import.png) no-repeat  center center; margin-right:10px; color:white;}/* 导入 */
            
 /* 导出 */ .List_Export{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Export.png) no-repeat  center center; margin-right:10px; color:white;}/* 导出 */
            
 /* 上传 */ .List_Upload{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Upload.png) no-repeat  center center; margin-right:10px; color:white;}/* 上传 */
            
 /* 下载 */ .List_Download{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Download.png) no-repeat  center center; margin-right:10px; color:white;}/* 下载 */
            
 /* 邮件 */ .List_Mail{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Mail.png) no-repeat  center center; margin-right:10px; color:white;}/* 邮件 */
            
 /* 短信 */ .List_SMS{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_SMS.png) no-repeat  center center; margin-right:10px; color:white;}/* 短信 */
            
 /* 监控 */ .List_Monitor{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Monitor.png) no-repeat  center center; margin-right:10px; color:white;}/* 监控 */
            
 /* 评定 */ .List_Assessment{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Assessment.png) no-repeat  center center; margin-right:10px; color:white;}/* 评定 */
            
 /* 审核 */ .List_Audit_Neview{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Audit_Neview.png) no-repeat  center center; margin-right:10px; color:white;}/* 审核中 */
            
 /* 失败 */ .List_Audit_No{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Audit_No.png) no-repeat  center center; margin-right:10px; color:white;}/* 审核失败 */
            
 /* 成功 */ .List_Audit_Yes{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Audit_Yes.png) no-repeat  center center; margin-right:10px; color:white;}/* 审核成功 */
            
 /* 规则 */ .List_Rule{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Rule.png) no-repeat  center center; margin-right:10px; color:white;}/* 规则 */
            
 /* 量表 */ .List_Scale{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Scale.png) no-repeat  center center; margin-right:10px; color:white;}/* 量表 */
            
 /* 状态 */ .List_State_Yes{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_State_Yes.png) no-repeat  center center; margin-right:10px; color:white;}/* 状态yes */
            
 /* 状态 */ .List_State_No{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_State_No.png) no-repeat  center center; margin-right:10px; color:white;}/* 状态no */
            
 /* 档案 */ .List_Archives{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Archives.png) no-repeat  center center; margin-right:10px; color:white;}/* 档案 */
            
 /* 授权 */ .List_Authorization{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Authorization.png) no-repeat  center center; margin-right:10px; color:white;}/* 授权 */
            
 /* 下线 */ .List_Downline{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Downline.png) no-repeat  center center; margin-right:10px; color:white;}/* 强制下线 */
            
 /* 加密 */ .List_Encrypt{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Encrypt.png) no-repeat  center center; margin-right:10px; color:white;}/* 加密 */
            
 /* 资源 */ .List_Resources{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Resources.png) no-repeat  center center; margin-right:10px; color:white;}/* 资源 */
            
 /* 题型 */ .List_Questions{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Questions.png) no-repeat  center center; margin-right:10px; color:white;}/* 题型 */
            
 /* 添加 */ .List_Add{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Add.png) no-repeat  center center; margin-right:10px; color:white;}/* 添加 */
            
 /* 提交 */ .List_Submit{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Submit.png) no-repeat  center center; margin-right:10px; color:white;}/* 提交 */
            
 /* 进入 */ .List_Assess{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Assess.png) no-repeat  center center; margin-right:10px; color:white;}/* 进入 */
            
 /* 管理 */ .List_Manage{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Manage.png) no-repeat  center center; margin-right:10px; color:white;}/* 管理 */
            
 /* 取消 */ .List_Cancel{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Cancel.png) no-repeat  center center; margin-right:10px; color:white;}/* 取消 */
            
 /* 拒绝 */ .List_Refused{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Refused.png) no-repeat  center center; margin-right:10px; color:white;}/* 拒绝访问 */
            
 /* 详情 */ .List_detailed{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_detailed.png) no-repeat  center center; margin-right:10px; color:white;}/* 详情 */

 /* 分配 */ .List_Allocation{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/win8_icon/  .png) no-repeat  center center; margin-right:10px; color:white;}







/* 查看 */ .List_View_H{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_View_H.png) no-repeat  center center; margin-right:10px; color:white;}/* 查看 */
          
/* 修改 */ .List_Modify_H{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Modify_H.png) no-repeat  center center; margin-right:10px; color:white;}/* 修改 */
          
/* 删除 */ .List_Delete_H{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Delete_H.png) no-repeat  center center; margin-right:10px; color:white;}/* 删除 */
          
/* 预览 */ .List_Preview_H{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Preview_H.png) no-repeat  center center; margin-right:10px; color:white;}/* 预览 */
          
/* 评卷 */ .List_Marking_H{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Marking_H.png) no-repeat  center center; margin-right:10px; color:white;}/* 评卷 */
          
/* 阅卷 */ .List_Examiner_H{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Examiner_H.png) no-repeat  center center; margin-right:10px; color:white;}/* 阅卷 */
          
/* 导入 */ .List_Import_H{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Import_H.png) no-repeat  center center; margin-right:10px; color:white;}/* 导入 */
          
/* 导出 */ .List_Export_H{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Export_H.png) no-repeat  center center; margin-right:10px; color:white;}/* 导出 */
          
/* 上传 */ .List_Upload_H{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Upload_H.png) no-repeat  center center; margin-right:10px; color:white;}/* 上传 */
          
/* 下载 */ .List_Download_H{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Download_H.png) no-repeat  center center; margin-right:10px; color:white;}/* 下载 */
          
/* 邮件 */ .List_Mail_H{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Mail_H.png) no-repeat  center center; margin-right:10px; color:white;}/* 邮件 */
          
/* 短信 */ .List_SMS_H{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_SMS_H.png) no-repeat  center center; margin-right:10px; color:white;}/* 短信 */
          
/* 监控 */ .List_Monitor_H{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Monitor_H.png) no-repeat  center center; margin-right:10px; color:white;}/* 监控 */
          
/* 评定 */ .List_Assessment_H{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Assessment_H.png) no-repeat  center center; margin-right:10px; color:white;}/* 评定 */
          
/* 审核 */ .List_Audit_Neview_H{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Audit_Neview_H.png) no-repeat  center center; margin-right:10px; color:white;}/* 审核中 */
          
/* 失败 */ .List_Audit_No_H{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Audit_No_H.png) no-repeat  center center; margin-right:10px; color:white;}/* 审核失败 */
          
/* 成功 */ .List_Audit_Yes_H{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Audit_Yes_H.png) no-repeat  center center; margin-right:10px; color:white;}/* 审核成功 */
          
/* 规则 */ .List_Rule_H{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Rule_H.png) no-repeat  center center; margin-right:10px; color:white;}/* 规则 */
          
/* 量表 */ .List_Scale_H{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Scale_H.png) no-repeat  center center; margin-right:10px; color:white;}/* 量表 */
          
/* 状态 */ .List_State_Yes_H{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_State_Yes_H.png) no-repeat  center center; margin-right:10px; color:white;}/* 状态yes */
          
/* 状态 */ .List_State_No_H{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_State_No_H.png) no-repeat  center center; margin-right:10px; color:white;}/* 状态no */
          
/* 档案 */ .List_Archives_H{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Archives_H.png) no-repeat  center center; margin-right:10px; color:white;}/* 档案 */
          
/* 授权 */ .List_Authorization_H{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Authorization_H.png) no-repeat  center center; margin-right:10px; color:white;}/* 授权 */
          
/* 下线 */ .List_Downline_H{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Downline_H.png) no-repeat  center center; margin-right:10px; color:white;}/* 强制下线 */
          
/* 加密 */ .List_Encrypt_H{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Encrypt_H.png) no-repeat  center center; margin-right:10px; color:white;}/* 加密 */
          
/* 资源 */ .List_Resources_H{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Resources_H.png) no-repeat  center center; margin-right:10px; color:white;}/* 资源 */
          
/* 题型 */ .List_Questions_H{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Questions_H.png) no-repeat  center center; margin-right:10px; color:white;}/* 题型 */
          
/* 添加 */ .List_Add_H{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Add_H.png) no-repeat  center center; margin-right:10px; color:white;}/* 添加 */
          
/* 提交 */ .List_Submit_H{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Submit_H.png) no-repeat  center center; margin-right:10px; color:white;}/* 提交 */
          
/* 进入 */ .List_Assess_H{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Assess_H.png) no-repeat  center center; margin-right:10px; color:white;}/* 进入 */
          
/* 管理 */ .List_Manage_H{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Manage_H.png) no-repeat  center center; margin-right:10px; color:white;}/* 管理 */
          
/* 取消 */ .List_Cancel_H{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Cancel_H.png) no-repeat  center center; margin-right:10px; color:white;}/* 取消 */
          
/* 拒绝 */ .List_Refused_H{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_Refused_H.png) no-repeat  center center; margin-right:10px; color:white;}/* 拒绝访问 */
          
/* 详情 */ .List_detailed_H{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/ButtonImg/List_detailed_H.png) no-repeat  center center; margin-right:10px; color:white;}/* 详情 */
          
/* 分配 */ .List_Allocation_H{ height:30px; line-height:30px;width:40px; text-align:center; border:none; cursor:pointer;background:url(../../App_Image/win8_icon_h/  .png) no-repeat  center center; margin-right:10px; color:white;}

