body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    overflow: hidden;
}

.STYLE3 {
    color: #528311;
    font-size: 12px;
}

.STYLE4 {
    color: #42870a;
    font-size: 12px;
}

.styleprompt {
    color: red;
    font-size: 12px;
}

.denglu {
    margin-left: -5px;
}

.auto-style1 {
    width: 421px;
}
.login
{
    display:inline-block;
    height:23px;
    width:52px;
    background-color:rgb(126, 180, 48);
    color:white;
    text-align:center;
    font-size:9pt;
    align-content:center;
    vertical-align:middle;
    text-decoration:none ;
    line-height:23px;
    cursor:pointer;
}
.reset
{
    margin-left:20px;
    background-color:rgb(237, 89, 123);
}