body {
    background-color: rgba(15, 20, 24, 0.72);
}
.mainDiv
{
    width: 380px; 
    height: 250px; 
    position: absolute; 
    left: 50%; 
    top: 50%; 
    margin: -125px 0 0 -190px; 
    background-color: white; 
    border-radius: 10px 10px 2px 2px; 
    -webkit-box-shadow: 6px 6px 100px; 
    box-shadow: 6px 6px 100px; 
    -moz-box-shadow: 6px 6px 100px; 
}

.input-css
{
    width:180px; 
    height:25px;
    font-size:15px;
}
#innerDiv
{
        margin-top:60px;
        margin-left:100px;
        width:184px;
}
#innerDiv1
{
    margin-top:15px;line-height:22px;
}
